<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.homewifi.mapper.DataReportMapper">
    
    <resultMap type="DataReport" id="DataReportResult">
        <result property="id"    column="id"    />
        <result property="provName"    column="prov_name"    />
        <result property="cityName"    column="city_name"    />
        <result property="areaName"    column="area_name"    />
        <result property="orderid"    column="orderId"    />
        <result property="ordertype"    column="orderType"    />
        <result property="engineerId"    column="engineer_id"    />
        <result property="engineerName"    column="engineer_name"    />
        <result property="engineerTel"    column="engineer_tel"    />
        <result property="createTime"    column="create_time"    />
        <result property="userAccount"    column="user_account"    />
        <result property="aaaPppoe"    column="aaa_pppoe"    />
        <result property="clientSignedSpeed"    column="client_signed_speed"    />
        <result property="terminalMacList"    column="terminal_mac_list"    />
        <result property="wwShareChecked"    column="ww_share_checked"    />
        <result property="wwShareMethod"    column="ww_share_method"    />
        <result property="wwShareTime"    column="ww_share_time"    />
        <result property="sameArea"    column="same_area"    />
        <result property="effectiveReport"    column="effective_report"    />
        <result property="elinkChecked"    column="elink_checked"    />
        <result property="wifiChecked"    column="wifi_checked"    />
    </resultMap>

    <sql id="selectDataReportVo">
        select id, prov_name, city_name, area_name, orderId, orderType, engineer_id, engineer_name, engineer_tel, create_time, user_account,
            aaa_pppoe, client_signed_speed, terminal_mac_list, ww_share_checked, ww_share_method, ww_share_time, same_area, effective_report,
            elink_checked, wifi_checked from data_report
    </sql>

    <select id="selectDataReportListTest" parameterType="DataReport" resultMap="DataReportResult">
        <include refid="selectDataReportVo"/>
        <where>  
            <if test="provName != null  and provName != ''"> and prov_name = #{provName}</if>
            <if test="cityName != null  and cityName != ''"> and city_name = #{cityName}</if>
            <if test="areaName != null  and areaName != ''"> and area_name = #{areaName}</if>
            <if test="orderid != null  and orderid != ''"> and orderId = #{orderid}</if>
            <if test="ordertype != null "> and orderType = #{ordertype}</if>
            <if test="engineerId != null  and engineerId != ''"> and engineer_id = #{engineerId}</if>
            <if test="engineerName != null  and engineerName != ''"> and engineer_name = #{engineerName}</if>
            <if test="engineerTel != null  and engineerTel != ''"> and engineer_tel = #{engineerTel}</if>
            <if test="createTime != null "> and create_time = #{createTime}</if>
            <if test="userAccount != null  and userAccount != ''"> and user_account = #{userAccount}</if>
            <if test="aaaPppoe != null  and aaaPppoe != ''"> and aaa_pppoe = #{aaaPppoe}</if>
            <if test="clientSignedSpeed != null "> and client_signed_speed = #{clientSignedSpeed}</if>
            <if test="terminalMacList != null  and terminalMacList != ''"> and terminal_mac_list = #{terminalMacList}</if>
            <if test="wwShareChecked != null "> and ww_share_checked = #{wwShareChecked}</if>
            <if test="wwShareMethod != null "> and ww_share_method = #{wwShareMethod}</if>
            <if test="wwShareTime != null "> and ww_share_time = #{wwShareTime}</if>
            <if test="sameArea != null "> and same_area = #{sameArea}</if>
            <if test="effectiveReport != null "> and effective_report = #{effectiveReport}</if>
            <if test="elinkChecked != null "> and elink_checked = #{elinkChecked}</if>
            <if test="wifiChecked != null "> and wifi_checked = #{wifiChecked}</if>
        </where>
    </select>

    <select id="selectDataReportList" resultMap="DataReportResult">
        select w.id, w.ww_prov_id prov_name, w.ww_city_id city_name, w.ww_area_id area_name, w.orderId, w.orderType, w.engineer_id, w.engineer_name,
                w.create_time, w.engineer_tel, w.user_account, w.client_signed_speed, w.terminal_mac_list, w.ww_share_checked, w.ww_share_method,
                w.ww_share_time, d.aaa_pppoe, d.same_area, d.effective_report, d.elink_checked, d.wifi_checked, d.dept_id,d.day_id
            from data_ww_report w
            left join data_lake_report d
            on w.ww_prov_id = d.ww_prov_id and w.ww_city_id = d.ww_city_id and w.orderId = d.orderId and DATE(w.create_time) = d.day_id
            <where>
                <if test="startDate != null "> and day_id <![CDATA[ >= ]]> #{startDate}</if>
                <if test="endDate != null "> and day_id <![CDATA[ <= ]]> #{endDate}</if>
                <if test="provName != null  and provName != ''"> and prov_name = #{provName}</if>
                <if test="cityName != null  and cityName != ''"> and city_name = #{cityName}</if>
                <if test="orderid != null  and orderid != ''"> and orderId = #{orderid}</if>
                <if test="engineerId != null  and engineerId != ''"> and engineer_id = #{engineerId}</if>
                <if test="effectiveReport != null and effectiveReport != 3"> and effective_report = #{effectiveReport}</if>
                <!-- 数据范围过滤 -->
                ${params.dataScope}
            </where>
    </select>


    
    <select id="selectDataReportById" parameterType="Long" resultMap="DataReportResult">
        <include refid="selectDataReportVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDataReport" parameterType="DataReport" useGeneratedKeys="true" keyProperty="id">
        insert into data_report
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="provName != null">prov_name,</if>
            <if test="cityName != null">city_name,</if>
            <if test="areaName != null">area_name,</if>
            <if test="orderid != null">orderId,</if>
            <if test="ordertype != null">orderType,</if>
            <if test="engineerId != null">engineer_id,</if>
            <if test="engineerName != null">engineer_name,</if>
            <if test="engineerTel != null">engineer_tel,</if>
            <if test="createTime != null">create_time,</if>
            <if test="userAccount != null">user_account,</if>
            <if test="aaaPppoe != null">aaa_pppoe,</if>
            <if test="clientSignedSpeed != null">client_signed_speed,</if>
            <if test="terminalMacList != null">terminal_mac_list,</if>
            <if test="wwShareChecked != null">ww_share_checked,</if>
            <if test="wwShareMethod != null">ww_share_method,</if>
            <if test="wwShareTime != null">ww_share_time,</if>
            <if test="sameArea != null">same_area,</if>
            <if test="effectiveReport != null">effective_report,</if>
            <if test="elinkChecked != null">elink_checked,</if>
            <if test="wifiChecked != null">wifi_checked,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="provName != null">#{provName},</if>
            <if test="cityName != null">#{cityName},</if>
            <if test="areaName != null">#{areaName},</if>
            <if test="orderid != null">#{orderid},</if>
            <if test="ordertype != null">#{ordertype},</if>
            <if test="engineerId != null">#{engineerId},</if>
            <if test="engineerName != null">#{engineerName},</if>
            <if test="engineerTel != null">#{engineerTel},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="userAccount != null">#{userAccount},</if>
            <if test="aaaPppoe != null">#{aaaPppoe},</if>
            <if test="clientSignedSpeed != null">#{clientSignedSpeed},</if>
            <if test="terminalMacList != null">#{terminalMacList},</if>
            <if test="wwShareChecked != null">#{wwShareChecked},</if>
            <if test="wwShareMethod != null">#{wwShareMethod},</if>
            <if test="wwShareTime != null">#{wwShareTime},</if>
            <if test="sameArea != null">#{sameArea},</if>
            <if test="effectiveReport != null">#{effectiveReport},</if>
            <if test="elinkChecked != null">#{elinkChecked},</if>
            <if test="wifiChecked != null">#{wifiChecked},</if>
         </trim>
    </insert>

    <update id="updateDataReport" parameterType="DataReport">
        update data_report
        <trim prefix="SET" suffixOverrides=",">
            <if test="provName != null">prov_name = #{provName},</if>
            <if test="cityName != null">city_name = #{cityName},</if>
            <if test="areaName != null">area_name = #{areaName},</if>
            <if test="orderid != null">orderId = #{orderid},</if>
            <if test="ordertype != null">orderType = #{ordertype},</if>
            <if test="engineerId != null">engineer_id = #{engineerId},</if>
            <if test="engineerName != null">engineer_name = #{engineerName},</if>
            <if test="engineerTel != null">engineer_tel = #{engineerTel},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="userAccount != null">user_account = #{userAccount},</if>
            <if test="aaaPppoe != null">aaa_pppoe = #{aaaPppoe},</if>
            <if test="clientSignedSpeed != null">client_signed_speed = #{clientSignedSpeed},</if>
            <if test="terminalMacList != null">terminal_mac_list = #{terminalMacList},</if>
            <if test="wwShareChecked != null">ww_share_checked = #{wwShareChecked},</if>
            <if test="wwShareMethod != null">ww_share_method = #{wwShareMethod},</if>
            <if test="wwShareTime != null">ww_share_time = #{wwShareTime},</if>
            <if test="sameArea != null">same_area = #{sameArea},</if>
            <if test="effectiveReport != null">effective_report = #{effectiveReport},</if>
            <if test="elinkChecked != null">elink_checked = #{elinkChecked},</if>
            <if test="wifiChecked != null">wifi_checked = #{wifiChecked},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDataReportById" parameterType="Long">
        delete from data_report where id = #{id}
    </delete>

    <delete id="deleteDataReportByIds" parameterType="String">
        delete from data_report where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>