<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.homewifi.mapper.DataProvRateMapper">


    <!-- 数据湖下发报告表统计结果 -->
    <resultMap type="LakeReportSumDo" id="LakeReportSumResult">
        <result property="deptId"    column="dept_id"    />
        <result property="wProId"    column="w_pro_id"    />
        <result property="lakeCityId"    column="lake_city_id"    />
        <result property="wCityId"    column="w_city_id"    />
        <result property="sameAreaSum"    column="same_area_sum"    />
        <result property="effectiveSum"    column="effective_sum"    />
        <result property="wifiCheckedSum"    column="wifi_checked_sum"    />
        <result property="shareSum"    column="share_sum"    />
        <result property="messageShareSum"    column="message_share_sum"    />
        <result property="wechatShareSum"    column="wechat_share_sum"    />
        <result property="yiShareSum"    column="yi_share_sum"    />
        <result property="otherShareSum"    column="other_share_sum"    />
    </resultMap>

    <select id="selectLakeReportSumList" parameterType="provRateVo" resultMap="LakeReportSumResult">
        select
        any_value(dept_id) as dept_id,
        any_value(w_prov_id) as w_pro_id,
        sum(if(effective_report=1,1,0)) as effective_sum,
        sum(if(effective_report = 1 and same_area =1,1,0)) as same_area_sum,
        sum(if(effective_report = 1 and wifi_checked=1,1,0)) as wifi_checked_sum,
        sum(if(effective_report = 1 and lake_share_checked=1,1,0)) as share_sum,
        sum(if(effective_report = 1 and lake_share_method=0,1,0)) as message_share_sum,
        sum(if(effective_report = 1 and lake_share_method=1,1,0)) as wechat_share_sum,
        sum(if(effective_report = 1 and lake_share_method=2,1,0)) as yi_share_sum,
        sum(if(effective_report = 1 and lake_share_method=3,1,0)) as other_share_sum
        from data_lake_report d
        <where>
            <if test="startDate != null "> and day_id <![CDATA[ >= ]]> #{startDate}</if>
            <if test="endDate != null "> and day_id <![CDATA[ <= ]]> #{endDate}</if>
            <if test="wProvId != null  and wProvId != ''"> and w_prov_id = #{wProvId}</if>
            <!-- 数据范围过滤 -->
            ${params.dataScope}
        </where>
        group by w_prov_id
        order by w_prov_id
    </select>


    <!-- 数据湖下发礼包表统计结果 -->
    <resultMap type="LakeGiftSumDo" id="LakeGiftSumResult">
        <result property="deptId"    column="dept_id"    />
        <result property="lakeCityId"    column="lake_city_id"    />
        <result property="giftCodeSum"    column="gift_code_sum"    />
        <result property="giftOrderSum"    column="gift_order_sum"    />
        <result property="termiGiftSum"    column="termi_gift_sum"    />
        <result property="serviGiftSum"    column="servi_gift_sum"    />
    </resultMap>

    <select id="selectLakeGiftSumList" parameterType="lakeProvRateVo" resultMap="LakeGiftSumResult">
        select
        any_value(d.dept_id) as dept_id,
        count(d.gift_code) as gift_code_sum,
        count(d.gift_order_id) as gift_order_sum,
        sum(if(g.gift_product_type=1,1,0)) as termi_gift_sum,
        sum(if(g.gift_product_type=0,1,0)) as servi_gift_sum
        from data_lake_gift d
        join data_gift_id g
        on d.gift_code = g.gift_id
        <where>
            <if test="startDate != null "> and sealing_date <![CDATA[ >= ]]> #{startDate}</if>
            <if test="endDate != null "> and sealing_date <![CDATA[ <= ]]> #{endDate}</if>
            <if test="lakeProvId != null  and lakeProvId != ''"> and dept_id = #{lakeProvId}</if>
            <!-- 数据范围过滤 -->
            /*${params.dataScope}*/
        </where>
        group by dept_id
        order by dept_id;

    </select>
































    <resultMap type="DataProvRate" id="DataProvRateResult">
        <result property="id"    column="id"    />
        <result property="provName"    column="prov_name"    />
        <result property="effectiveSum"    column="effective_sum"    />
        <result property="newGiftSum"    column="new_gift_sum"    />
        <result property="newTermiGiftSum"    column="new_termi_gift_sum"    />
        <result property="newServiGiftSum"    column="new_servi_gift_sum"    />
        <result property="newElinkSum"    column="new_elink_sum"    />
        <result property="sameAreaSum"    column="same_area_sum"    />
        <result property="wifiCheckedSum"    column="wifi_checked_sum"    />
        <result property="shareSum"    column="share_sum"    />
        <result property="yiShareSum"    column="yi_share_sum"    />
        <result property="messageShareSum"    column="message_share_sum"    />
        <result property="wechatShareSum"    column="wechat_share_sum"    />
        <result property="otherShareSum"    column="other_share_sum"    />
        <result property="effectiveReportRate"    column="effective_report_rate"    />
        <result property="sameAreaRate"    column="same_area_rate"    />
        <result property="wifiCheckedRate"    column="wifi_checked_rate"    />
        <result property="elinkCheckedRate"    column="elink_checked_rate"    />
        <result property="shareRate"    column="share_rate"    />
        <result property="rateReserve1"    column="rate_reserve1"    />
        <result property="rateReserve2"    column="rate_reserve2"    />
        <result property="rateReserve3"    column="rate_reserve3"    />
    </resultMap>

    <sql id="selectDataProvRateVo">
        select id, prov_name, effective_sum, new_gift_sum, new_termi_gift_sum, new_servi_gift_sum, new_elink_sum, same_area_sum, wifi_checked_sum, share_sum, yi_share_sum, message_share_sum, wechat_share_sum, other_share_sum, effective_report_rate, same_area_rate, wifi_checked_rate, elink_checked_rate, share_rate, rate_reserve1, rate_reserve2, rate_reserve3 from data_prov_rate
    </sql>

    <select id="selectDataProvRateList" parameterType="DataProvRate" resultMap="DataProvRateResult">
        <include refid="selectDataProvRateVo"/>
        <where>  
            <if test="provName != null  and provName != ''"> and prov_name like concat('%', #{provName}, '%')</if>
            <if test="effectiveSum != null "> and effective_sum = #{effectiveSum}</if>
            <if test="newGiftSum != null "> and new_gift_sum = #{newGiftSum}</if>
            <if test="newTermiGiftSum != null "> and new_termi_gift_sum = #{newTermiGiftSum}</if>
            <if test="newServiGiftSum != null "> and new_servi_gift_sum = #{newServiGiftSum}</if>
            <if test="newElinkSum != null "> and new_elink_sum = #{newElinkSum}</if>
            <if test="sameAreaSum != null "> and same_area_sum = #{sameAreaSum}</if>
            <if test="wifiCheckedSum != null "> and wifi_checked_sum = #{wifiCheckedSum}</if>
            <if test="shareSum != null "> and share_sum = #{shareSum}</if>
            <if test="yiShareSum != null "> and yi_share_sum = #{yiShareSum}</if>
            <if test="messageShareSum != null "> and message_share_sum = #{messageShareSum}</if>
            <if test="wechatShareSum != null "> and wechat_share_sum = #{wechatShareSum}</if>
            <if test="otherShareSum != null "> and other_share_sum = #{otherShareSum}</if>
            <if test="effectiveReportRate != null  and effectiveReportRate != ''"> and effective_report_rate = #{effectiveReportRate}</if>
            <if test="sameAreaRate != null  and sameAreaRate != ''"> and same_area_rate = #{sameAreaRate}</if>
            <if test="wifiCheckedRate != null  and wifiCheckedRate != ''"> and wifi_checked_rate = #{wifiCheckedRate}</if>
            <if test="elinkCheckedRate != null  and elinkCheckedRate != ''"> and elink_checked_rate = #{elinkCheckedRate}</if>
            <if test="shareRate != null  and shareRate != ''"> and share_rate = #{shareRate}</if>
        </where>
    </select>
    
    <select id="selectDataProvRateById" parameterType="Long" resultMap="DataProvRateResult">
        <include refid="selectDataProvRateVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDataProvRate" parameterType="DataProvRate" useGeneratedKeys="true" keyProperty="id">
        insert into data_prov_rate
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="provName != null">prov_name,</if>
            <if test="effectiveSum != null">effective_sum,</if>
            <if test="newGiftSum != null">new_gift_sum,</if>
            <if test="newTermiGiftSum != null">new_termi_gift_sum,</if>
            <if test="newServiGiftSum != null">new_servi_gift_sum,</if>
            <if test="newElinkSum != null">new_elink_sum,</if>
            <if test="sameAreaSum != null">same_area_sum,</if>
            <if test="wifiCheckedSum != null">wifi_checked_sum,</if>
            <if test="shareSum != null">share_sum,</if>
            <if test="yiShareSum != null">yi_share_sum,</if>
            <if test="messageShareSum != null">message_share_sum,</if>
            <if test="wechatShareSum != null">wechat_share_sum,</if>
            <if test="otherShareSum != null">other_share_sum,</if>
            <if test="effectiveReportRate != null">effective_report_rate,</if>
            <if test="sameAreaRate != null">same_area_rate,</if>
            <if test="wifiCheckedRate != null">wifi_checked_rate,</if>
            <if test="elinkCheckedRate != null">elink_checked_rate,</if>
            <if test="shareRate != null">share_rate,</if>
            <if test="rateReserve1 != null">rate_reserve1,</if>
            <if test="rateReserve2 != null">rate_reserve2,</if>
            <if test="rateReserve3 != null">rate_reserve3,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="provName != null">#{provName},</if>
            <if test="effectiveSum != null">#{effectiveSum},</if>
            <if test="newGiftSum != null">#{newGiftSum},</if>
            <if test="newTermiGiftSum != null">#{newTermiGiftSum},</if>
            <if test="newServiGiftSum != null">#{newServiGiftSum},</if>
            <if test="newElinkSum != null">#{newElinkSum},</if>
            <if test="sameAreaSum != null">#{sameAreaSum},</if>
            <if test="wifiCheckedSum != null">#{wifiCheckedSum},</if>
            <if test="shareSum != null">#{shareSum},</if>
            <if test="yiShareSum != null">#{yiShareSum},</if>
            <if test="messageShareSum != null">#{messageShareSum},</if>
            <if test="wechatShareSum != null">#{wechatShareSum},</if>
            <if test="otherShareSum != null">#{otherShareSum},</if>
            <if test="effectiveReportRate != null">#{effectiveReportRate},</if>
            <if test="sameAreaRate != null">#{sameAreaRate},</if>
            <if test="wifiCheckedRate != null">#{wifiCheckedRate},</if>
            <if test="elinkCheckedRate != null">#{elinkCheckedRate},</if>
            <if test="shareRate != null">#{shareRate},</if>
            <if test="rateReserve1 != null">#{rateReserve1},</if>
            <if test="rateReserve2 != null">#{rateReserve2},</if>
            <if test="rateReserve3 != null">#{rateReserve3},</if>
         </trim>
    </insert>

    <update id="updateDataProvRate" parameterType="DataProvRate">
        update data_prov_rate
        <trim prefix="SET" suffixOverrides=",">
            <if test="provName != null">prov_name = #{provName},</if>
            <if test="effectiveSum != null">effective_sum = #{effectiveSum},</if>
            <if test="newGiftSum != null">new_gift_sum = #{newGiftSum},</if>
            <if test="newTermiGiftSum != null">new_termi_gift_sum = #{newTermiGiftSum},</if>
            <if test="newServiGiftSum != null">new_servi_gift_sum = #{newServiGiftSum},</if>
            <if test="newElinkSum != null">new_elink_sum = #{newElinkSum},</if>
            <if test="sameAreaSum != null">same_area_sum = #{sameAreaSum},</if>
            <if test="wifiCheckedSum != null">wifi_checked_sum = #{wifiCheckedSum},</if>
            <if test="shareSum != null">share_sum = #{shareSum},</if>
            <if test="yiShareSum != null">yi_share_sum = #{yiShareSum},</if>
            <if test="messageShareSum != null">message_share_sum = #{messageShareSum},</if>
            <if test="wechatShareSum != null">wechat_share_sum = #{wechatShareSum},</if>
            <if test="otherShareSum != null">other_share_sum = #{otherShareSum},</if>
            <if test="effectiveReportRate != null">effective_report_rate = #{effectiveReportRate},</if>
            <if test="sameAreaRate != null">same_area_rate = #{sameAreaRate},</if>
            <if test="wifiCheckedRate != null">wifi_checked_rate = #{wifiCheckedRate},</if>
            <if test="elinkCheckedRate != null">elink_checked_rate = #{elinkCheckedRate},</if>
            <if test="shareRate != null">share_rate = #{shareRate},</if>
            <if test="rateReserve1 != null">rate_reserve1 = #{rateReserve1},</if>
            <if test="rateReserve2 != null">rate_reserve2 = #{rateReserve2},</if>
            <if test="rateReserve3 != null">rate_reserve3 = #{rateReserve3},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDataProvRateById" parameterType="Long">
        delete from data_prov_rate where id = #{id}
    </delete>

    <delete id="deleteDataProvRateByIds" parameterType="String">
        delete from data_prov_rate where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>